*{
    padding: 0;
    margin: 0;
}
.zButtonDefult{
    height: 10px;
    width: 20px;
    display: none;
}
.absolution{
    position: absolute;
}
.relative{
    position: relative;
}
.full{
    height: 100%;
    width: 100%;
}
/* marign-right some */
.mrs{
    margin-right: 5px;
}
.noMarign {
    margin: 0 !important;
    padding: 0 !important;
}
.positionFixed{
    position: fixed;
}